* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: -webkit-linear-gradient(right, rgba(251, 255, 254, 0.59), rgb(251, 255, 254, 0.59));
}

/*Inicio do Menu*/
.container_nav {
    display: flex;
    justify-content: center;

}

.container_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#logo {
    width: 250px;
    margin-right: 15px;
}

.container_menu {
    background-image: -webkit-linear-gradient(right, rgb(207, 217, 227), rgb(222, 231, 235));
    display: flex;
    justify-content: end;
    align-items: center;
    height: 60px;
    padding: 0px 10px;
    width: 96%;
    border-radius: 10px;
    position: fixed;
    z-index: 997;
}

.container_menu ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    height: 100%;
    list-style-type: none;
}

.container_menu ul a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    font-weight: 600;
    background-color: #656667;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;

}

.container_menu ul a:hover {
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    border-radius: 8px;
}

.container_menu ul .aba_atual a {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

/*menu mobile*/
#mobile {
    display: flex;
    justify-content: end;
    height: 60px;
    display: none;
}

#menu {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    background-color: #232b33;
    width: 60vw;
    gap: 10px;
    height: 100vh;
    padding-top: 30px;
    z-index: 998;
    display: none;
    position: fixed
}

#menu li {
    background-image: -webkit-linear-gradient(140deg, #656667, #656667);
    border: 4px solid rgb(247, 247, 247);
    width: 90%;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    list-style-type: none;

}

#menu a {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    flex-grow: 1;
    text-decoration: none;

}

#btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: -webkit-linear-gradient(140deg, rgb(8, 8, 8), rgb(24, 24, 24));
    border: 2px solid rgb(239, 239, 239);
    gap: 5px;
    width: 45px;
    height: 45px;
    border-radius: 30%;
    margin: 7px 20px 0 0;
    position: fixed;
    z-index: 999;
}

.line {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
}


/*Imagem central*/
.container_Imagem_Inicial {
    display: flex;
    justify-content: center
}

.ImagemInicial {
    margin-top: 80px;
    width: 90%;
    max-height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

/*4 slots de trabalhos*/
.grade {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container_grade {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 90%;
    background-image: -webkit-linear-gradient(120deg, #167bf7, #03499f);
    border-radius: 10px;
    padding: 1%;
    gap: 60px;
}

.container_grade a {
    text-decoration: none;
}

.img_grade {
    height: 270px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 30px 30px 80px black;
    transition: 0.5s;
}

.img_grade:hover {
    scale: 1.06;
}

.texto_grade {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    text-align: center;
    font-size: max(17px, 1.5vw);

}


/*Sobre Mim*/
.containerSobreMim {
    margin: 100px 35px;
    background-color: #052346;
    border: 4px solid #167bf7;
    border-radius: 15px;
    padding: 10px 0px;

}

.ContainerPerfil {
    display: flex;
    align-items: center;
    justify-content: center;

}

.Perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid rgb(189, 198, 205);

}

.container_obejeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.TituloCentralizado {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin: 0px 20px;
    color: rgb(176, 178, 181);
    text-align: center;

}

.paragrafoSobreMim {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
    padding: 0% 10%;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    text-align: justify;
}

/*Formação acadêmica e profissional*/
.TituloCentralizado {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin: 0px 20px;
    color: rgb(176, 178, 181);
    text-align: center;
}
.gif{
    height: 80px;
    border-radius: 10px;
    
}

.container_obejeto .TituloCentralizado {
    padding: 5px;
    background-color: #052346;
    border: 4px solid #167bf7;
    border-radius: 10px;
}

.linhaDoTempo {
    margin: 6rem 0rem;
    width: 100%;
}

.Objetos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0px 0px 180px 0px;

}

#fita {
    height: 600px;
    width: 600px;
}

.seção1 {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
    width: 200px;
    margin: 0;
    position: relative;
}

.containerObjeto1 {
    bottom: 328px;
    left: -198px;
    position: absolute;
    height: 60px;
    width: 60px;
}

.containerObjeto2 {
    bottom: 211px;
    left: 258px;
    position: absolute;
    height: 60px;
    width: 60px;
}

.containerObjeto3 {
    bottom: 2px;
    left: -189px;
    position: absolute;
    height: 60px;
    width: 60px;
}

.containerObjeto4 {
    bottom: -115px;
    left: 264px;
    position: absolute;
    height: 60px;
    width: 60px;
}

.imgObjeto {
    border-radius: 30px;
    height: 140px;
    width: 140px;
    border: 3px solid rgb(203, 203, 203);
    box-shadow: 2px 2px 10px;
    cursor: pointer;
    transition: 0.5s;
}

.imgObjeto:hover {
    scale: 1.06;
}

.texto-Objeto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #052346;
    border: 4px solid #167bf7;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    height: 262px;
    width: 290px;
    position: absolute;
    top: 50px;
    left: -299px;
    opacity: 0%;
    font-size: 0.9rem;
    transition: 1s;

}

.imgObjeto:hover~.texto-Objeto {
    opacity: 100%;
}

.texto-Objeto2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #052346;
    border: 4px solid #167bf7;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    height: 262px;
    width: 290px;
    position: absolute;
    top: 50px;
    left: -299px;
    opacity: 0%;
    font-size: 0.9rem;
    transition: 1s;

}

.imgObjeto:hover~.texto-Objeto2 {
    opacity: 100%;
}

.Com01 {
    margin: 40px 0px;
}

/*Competencias*/
.sectionCompetencias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
}

.containerSkills {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
    height: 300px;
    width: 300px;
    background-image: -webkit-linear-gradient(140deg, rgb(0, 170, 255), rgb(0, 159, 174));
    border: 4px solid rgb(0, 208, 255);

}

.tituloSkills {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #43d7e2;
    text-align: center;
    font-size: 1.2rem;

}

.paragrafoSkills {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}






/*Inicio Rodapé*/
.Titulo_OneZero {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: aliceblue;
    height: 150px;
    background-image: -webkit-linear-gradient(right, rgb(0, 85, 170), rgb(0, 27, 52));
    z-index: 999;
}

.rodape #Descrição {
    display: flex;
    gap: 10px;
    margin: 0px 30px;

}

.rodape .icones {
    width: 40px;
    height: 40px;
}

.rodape .ContainerIcones {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rodape a {
    text-decoration: none;
    color: white;
}


.container_linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

/*menu*/
@media screen and (max-width:726px) {
    #mobile {
        display: flex;
    }

    .container_menu ul {
        display: none;
    }

    #mobile.active #menu {
        display: flex;
    }

    .ImagemInicial {
        margin-top: 10px;
        width: 90%;
        max-height: 147px;
        border-radius: 10px;
        object-fit: cover;
    }
}

/*Midia query 4 slots de trabalhos*/
@media screen and (max-width:726px) {
    .img_grade {
        height: 170px;
        width: 120px;
        border-radius: 10px;
    }

    .img_grade:hover {
        scale: none;
    }
    .container_grade{
        padding: 3%;
    }
}

/*Midia query sobre mim*/
@media screen and (max-width:726px) {
    .containerSobreMim {
        margin: 4rem 1rem;
        border-radius: 15px;
        padding: 0px;
    }

    .Perfil {
        width: 50px;
        height: 50px;
        border: 2px solid rgb(189, 198, 205);
        margin: 1rem;
    }

    .paragrafoSobreMim {
        margin-top: 1rem;
        padding: 0% 5%;
        font-size: 0.9rem;
    }

    .TituloCentralizado {
        font-size: 0.8rem;
    }
}

/*Midia query linha do tempo*/
@media screen and (max-width:726px) {
    .linhaDoTempo {
        margin: 0px 0px;
        width: 100vw;
    }

    .Objetos {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 384px;
        margin: 0px 0px 180px 0px;

    }

    #fita {
        height: 300px;
        width: 300px;
    }

    .seção1 {

        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0;
    }

    .containerObjeto1 {
        bottom: 183px;
        left: -50px;
        position: absolute;
    }

    .containerObjeto2 {
        bottom: 126px;
        left: 179px;
        position: absolute;
    }

    .containerObjeto3 {
        bottom: 25px;
        left: -49px;
        position: absolute;
    }

    .containerObjeto4 {
        bottom: -35px;
        left: 174px;
        position: absolute;
    }

    .imgObjeto {
        border-radius: 10px;
        height: 70px;
        width: 70px;
        border: 3px solid rgb(203, 203, 203);
        box-shadow: 2px 2px 10px;
    }

    .imgObjeto:hover {
        scale: 1.06;
    }

    .texto-Objeto {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.5rem;
        height: 200px;
        width: 142px;
        border-radius: 20px;
        position: absolute;
        top: 13px;
        opacity: 0%;
        left: 80px;
    }

    .texto-Objeto2 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.5rem;
        background-color: #052346;
        border: 4px solid #167bf7;
        color: rgb(255, 255, 255);
        border-radius: 20px;
        padding: 10px;
        height: 200px;
        width: 142px;
        border-radius: 20px;
        position: absolute;
        top: 13px;
        left: -153px;
        opacity: 0%;
        transition: 0.5s;
    }

    .imgObjeto:hover~.texto-Objeto2 {
        opacity: 100%;
    }

}

/*Midia query competencias*/
@media screen and (max-width:726px) {
    .sectionCompetencias {
        margin-bottom: 20px;
        margin-left: 5%;
        margin-right: 5%;
        flex-wrap: wrap;
    }

    .containerSkills {
        padding: 10px;
        border-radius: 20px;
        text-align: left;
        height: 200px;
        width: 200px;

    }

    .tituloSkills {
        font-size: 0.8rem;

    }

    .paragrafoSkills {
        font-size: 0.7rem;
    }
}

/*Midia query footer*/
@media screen and (max-width:726px) {
    .rodape {
        height: 150px;
    }

    .rodape .icones {
        width: 20px;
        height: 20px;
    }
}