* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    background-image: -webkit-linear-gradient(right, rgba(251, 255, 254, 0.59), rgb(251, 255, 254, 0.59));
}


/*Inicio do Menu*/
.container_nav {
    display: flex;
    justify-content: center;

}

.container_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#logo {
    width: 250px;
    margin-right: 15px;
}

.container_menu {
    background-image: -webkit-linear-gradient(right, rgb(207, 217, 227), rgb(222, 231, 235));
    display: flex;
    justify-content: end;
    align-items: center;
    height: 60px;
    padding: 0px 10px;
    width: 96%;
    border-radius: 10px;
    position: fixed;
    z-index: 997;
}

.container_menu ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    height: 100%;
    list-style-type: none;
}

.container_menu ul a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    font-weight: 600;
    background-color: #656667;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;

}

.container_menu ul a:hover {
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    border-radius: 8px;
}

.container_menu ul .aba_atual a {
    background-color: rgb(0, 200, 170);
    color: #ffffff;
}

/*menu mobile*/
#mobile {
    display: flex;
    justify-content: end;
    height: 60px;
    display: none;
}

#menu {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    background-color: #232b33;
    width: 60vw;
    gap: 10px;
    height: 100vh;
    padding-top: 30px;
    z-index: 998;
    display: none;
    position: fixed
}

#menu li {
    background-image: -webkit-linear-gradient(140deg, #656667, #656667);
    border: 4px solid rgb(247, 247, 247);
    width: 90%;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    list-style-type: none;

}

#menu a {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    flex-grow: 1;
    text-decoration: none;

}

#btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: -webkit-linear-gradient(140deg, rgb(8, 8, 8), rgb(24, 24, 24));
    border: 2px solid rgb(239, 239, 239);
    gap: 5px;
    width: 45px;
    height: 45px;
    border-radius: 30%;
    margin: 7px 20px 0 0;
    position: fixed;
    z-index: 999;
}

.line {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
}

/*conteudo principal*/
.Conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 0 100px 0;
}

.Introdução {
    display: flex;
    flex-direction: column;
    margin: 100px 5%;
    text-align: justify;
    gap: 10px;
    background-image: -webkit-linear-gradient(180deg, rgb(0, 206, 175), rgb(0, 159, 174));
    border-radius: 25px;
    border: 4px solid rgb(0, 208, 255);
    padding: 4%;
}

.paragrafo_Introdução {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5rem;
    color: #ffffff;
    font-size: max(13px, 1vw);
}

/*objetos principais*/
.Container_Objeto {
    width: 200px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px rgb(171, 171, 171);
    background-image: -webkit-linear-gradient(20deg, rgb(0, 161, 137), rgb(0, 229, 255));
    overflow-wrap: break-word;
    cursor: pointer;
    transition: 0.5s;
}

.Container_Objeto:hover {
    scale: 1.06;
}

.Imagem_Caixa {
    height: 130px;
    object-fit: cover;
}

.Imagem_Caixa {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

.Paragrafo_Descrição {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 2px 5px;
    font-size: max(30px, 0, 2vw);
    color: #ffffff;
    font-weight: 560;
}



/*Footer*/
/*Inicio Rodapé*/
.Titulo_OneZero {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: aliceblue;
    height: 150px;
    background-image: -webkit-linear-gradient(right, rgb(0, 85, 170), rgb(0, 27, 52));
    z-index: 999;
}

.rodape #Descrição {
    display: flex;
    gap: 10px;
    margin: 0px 30px;

}

.rodape .icones {
    width: 40px;
    height: 40px;
}

.rodape .ContainerIcones {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rodape a {
    text-decoration: none;
    color: white;
}


/*Menu - Midia query*/
@media screen and (max-width:726px) {
    #mobile {
        display: flex;
    }

    .container_nav ul {
        display: none;
    }

    #mobile.active #menu {
        display: flex;
    }
}

/*Conteúdo Principal*/
@media screen and (max-width:726px) {
    .Paragrafo_Introdução {
        margin: 50px 5%;
        text-align: justify;
        padding: 3%;
    }

}

/*Objetos Principais - Midia query */
@media screen and (max-width:726px) {
    .Container_Objeto {
        width: 160px;
        height: 260px;
        border-radius: 14px;
    }

    .Container_Objeto:hover {
        scale: none;
    }
}

/*Footer - Midia query*/
@media screen and (max-width:726px) {
    .rodape {
        height: 150px;
    }

    .rodape .icones {
        width: 20px;
        height: 20px;
    }
}