* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    background-image: -webkit-linear-gradient(right, rgba(251, 255, 254, 0.59), rgb(251, 255, 254, 0.59));
}



/*Inicio do Menu*/
.container_nav {
    display: flex;
    justify-content: center;

}

.container_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#logo {
    width: 250px;
    margin-right: 15px;
}

.container_menu {
    background-image: -webkit-linear-gradient(right, rgb(207, 217, 227), rgb(222, 231, 235));
    display: flex;
    justify-content: end;
    align-items: center;
    height: 60px;
    padding: 0px 10px;
    width: 96%;
    border-radius: 10px;
    position: fixed;
    z-index: 997;
}

.container_menu ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    height: 100%;
    list-style-type: none;
}

.container_menu ul a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    font-weight: 600;
    background-color: #656667;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;

}

.container_menu ul a:hover {
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    border-radius: 8px;
}

.container_menu ul .aba_atual a {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

/*menu mobile*/
#mobile {
    display: flex;
    justify-content: end;
    height: 60px;
    display: none;
}

#menu {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    background-color: #232b33;
    width: 60vw;
    gap: 10px;
    height: 100vh;
    padding-top: 30px;
    z-index: 998;
    display: none;
    position: fixed
}

#menu li {
    background-image: -webkit-linear-gradient(140deg, #656667, #656667);
    border: 4px solid rgb(247, 247, 247);
    width: 90%;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    list-style-type: none;

}

#menu a {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    flex-grow: 1;
    text-decoration: none;

}

#btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: -webkit-linear-gradient(140deg, rgb(8, 8, 8), rgb(24, 24, 24));
    border: 2px solid rgb(239, 239, 239);
    gap: 5px;
    width: 45px;
    height: 45px;
    border-radius: 30%;
    margin: 7px 20px 0 0;
    position: fixed;
    z-index: 999;
}

.line {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
}


/*conteúdo principal*/


.Container_Sobre_Mim {
    margin: 100px 35px;
    background-color: #052346;
    border: 4px solid #167bf7;
    border-radius: 15px;
    padding: 2% 5%;

}

.Titulo_Principal {
    color: white;
    text-align: center;

}

.Paragrafo_Sobre_Mim {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    font-size: max(13px, 1vw);
    text-align: justify;
}

/*linha do tempo de formação academica*/
.container_competencias {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
}

.titulo_section {
    display: flex;
    justify-content: center;
    width: 100%;


}

.titulo_section h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    background-color: #03499f;
    border: 4px solid rgb(0, 149, 255);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 40px;

}

.container_linha_do_tempo {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.container_formacao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_icone {
    background-image: -webkit-linear-gradient(120deg, #167bf7, #03499f);
    height: 450px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    box-shadow: 4px 8px 20px rgb(112, 112, 112);
    border: 4px solid rgb(211, 211, 211);
}

.container_img {
    height: 140px;
    width: 100%;
}

.img_icone {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container_paragrafo {
    display: flex;
    width: 100%;
    padding: 0.5rem;
}

.container_paragrafo p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 0.8rem;
    text-align: start;
    word-break: keep-all;
}

/*Footer*/
.Titulo_OneZero {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rodape {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: aliceblue;
    height: 150px;
    padding: 5%;
    background-image: -webkit-linear-gradient(right, rgb(0, 85, 170), rgb(0, 27, 52));
    z-index: 999;
    flex: 0;
}

.rodape #Descrição {
    display: flex;
    gap: 10px;
    margin: 0px 30px;

}

.rodape .icones {
    width: 40px;
    height: 40px;
}

.rodape .ContainerIcones {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rodape a {
    text-decoration: none;
    color: white;
}



/*menu*/
@media screen and (max-width:726px) {
    #mobile {
        display: flex;
    }

    .container_menu ul {
        display: none;
    }

    #mobile.active #menu {
        display: flex;
    }

    .ImagemInicial {
        margin-top: 20px;
    }
}
/*Experiencia profissionais e formação*/
@media screen and (max-width:726px) {
    .container_linha_do_tempo {
        gap: 20px;

    }

    .container_icone {
        height: 310px;
        width: 160px;
        margin: 0px 5px;
    }

    .container_img {
        height: 100px;
        width: 100%;
    }

    .img_icone {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .container_paragrafo {
        width: 200px;
        padding: 0.6rem;
        width: 100%;
    }

    .container_paragrafo p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffffff;
        font-size: 0.5rem;
        text-align: start;


    }
}

/*footer*/
@media screen and (max-width:726px) {
    .rodape {
        height: 150px;
    }

    .rodape .icones {
        width: 20px;
        height: 20px;
    }
}