/*img top*/
.container_img_top {
    width: 100vw;
    margin-top: 90px;
    position: relative;
}

.img_top {
    width: 100%;
    object-fit: cover;
}

.texto_descriçao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: max(24px, 5vw);
    color: #ffffff;
    position: absolute;
    top: 40%;
    left: 10%;



}

/*conteúdo*/
.conteudo {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    cursor: pointer;
}

.container_conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 100px 0px;
    flex-wrap: wrap;
}

.img_conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid rgb(232, 232, 232);
    box-shadow: 4px 4px 30px rgb(114, 114, 114);
    transition: 0.5s;
}

.img_conteudo:hover {
    scale: 1.06;
}

.titulo_conteudo {
    color: #000000;
}








/*Footer*/
/*Inicio Rodapé*/
.Titulo_OneZero {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: aliceblue;
    height: 150px;
    background-image: -webkit-linear-gradient(right, rgb(0, 85, 170), rgb(0, 27, 52));
    z-index: 999;
}

.rodape #Descrição {
    display: flex;
    gap: 10px;
    margin: 0px 30px;

}

.rodape .icones {
    width: 40px;
    height: 40px;
}

.rodape .ContainerIcones {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rodape a {
    text-decoration: none;
    color: white;
}


/*Media query*/

/*midia query container_conteudo*/
@media screen and (max-width:726px) {
    .ImagemInicial {
        margin-top: 20px;
    }

    .container_img_top {
        margin-top: 15px;
    }

    .img_conteudo {
        height: 230px;
        width: 160px;
        border-radius: 20px;
        border: 4px solid rgb(212, 212, 212);
        transition: 0.5s;
    }

    .img_conteudo:hover {
        scale: 1.06;
    }
}